html{
     background-image: url(/imagenes/fondo2.jpg);}
body{
     background-image: url(/imagenes/fondo2.jpg);
}
 .indice{ 
     display: inline-block;
     margin: 0vw 0vw;
}



.letra{color: antiquewhite;
     padding-left: 410px;
     text-decoration: none;
     font-family: cursive;
     font-size: 20px;
}
.letra2{
     color: antiquewhite;
     padding-left: 420px;
     text-decoration: none;
     font-family: cursive;
     font-size: 20px;
}
.letra3{
     color: antiquewhite;
     padding-left: 410px;
     text-decoration: none;
     font-family: cursive;
     font-size: 20px;
}
.letra4{
       color: antiquewhite;
       padding-left: 110px;
       padding-right:70px;

       text-decoration: none;
       font-family: cursive;
       font-size: 18px;
       text-align: justify;
}
img{
     padding-left: 400px;
     padding-right: 300px
     


}
.ti{
     
    color: antiquewhite;
     margin: 60px;
     padding-left: 410px;
     font-family: cursive;
     float: top;
     list-style: none;
     background-color: rgba(100, 100, 100, 0.705);
     margin: 0vw 0vw 0vw 0vm;
}
.sy{
     margin-left: 350px;
     padding: 45px;
     border-color: aqua;
     font-family: cursive;
     color: rgba(3, 117, 112);
     font-size: 30px;
}
span{
     padding: 50px;
}
.nu{ 

     border: 5px; color: antiquewhite;
     margin: 30px;
     padding-left: 450px;
     font-family: cursive;
     font-size: 2em;
     float: top;
     list-style: none;
     background-color: rgba(100, 100, 100, 0.705);
     margin: 0vw 0vw 0vw 0vm;
color: rgb(226, 231, 238);

}.h3{
     padding-left: 500px;
     font-family: cursive;
     color: brown;
}
.h1{
     padding-left: 450px;

}
#li{
 flex-direction: row reverse
}

#unico{
    text-align: center;
    font-size: 40px;
    color: rgb(9, 182, 182);
    font-family: cursive;
}
#n1{
    color: aqua;
}
#menu{ 
     float: top;
     text-align: center;
     list-style: none;
     background-color: rgba(100, 100, 100, 0.705);
     margin: 0vw 0vw 0vw 0vm;
} 
#menu li{display: inline-block;}
#menu li a{
 display: block;
 padding: 0.1vw 2vw;
 text-decoration: none;
 color:rgb( 226,210,178);
  -webkit-text-stroke: 0.03vw rgb(211,114, 11);
 font-size: 2.5vw;
}
#menu li a:hover{
 color: rgb(200,0,0);
 background-color:rgba(0, 0, 0, 0.5);
}
.c1{
     border: 20px; color: black;
     margin: 60px;
     padding-left: 480px;
     padding-right: 150px;

     font-family: cursive;
     font-size: 30px;

     color: rgb(226, 210, 178);
     }
     .m1{border: 5px; color: rgb(0, 0, 0);
          margin: 30px;
          padding-left: 200px;
          font-family: cursive;
          font-size: 2em;
          float: top;
          list-style: none;
          background-color: rgba(100, 100, 100, 0.705);
          margin: 0vw 0vw 0vw 0vm;

     }
     .letra6{color: antiquewhite;
          padding-left: 400px;
          font-family: cursive;
          font-size: 20px;
     }
     .letra7{
          color: antiquewhite;
          padding-left: 30px;
          float: top;
          list-style: none;
          background-color: rgba(100, 100, 100, 0.705);
          margin: 0vw 0vw 0vw 0vm;
     }
     .m1{
          color: antiquewhite;

     }



