body{
    background-color: rgb(228, 241, 169);
}


/* estilos por clase*/
#unico{
    text-align: center;
    font-size: 40px;
    color: rgb(9, 182, 182);
    font-family: cursive;
}
#n1{
    color: aqua;
}
.imagen{
    border-radius: 35%;
    border-bottom-left-radius: 40%;
    
}
.contenedor{
    display: flex;
}


}#li{
    flex-direction: row-reverse;
}
